.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__ikKzl {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-hr57-FcFRX1F73);
}
.freeBox__r0EQx {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-OmDrHAzkiZewj6);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__r0EQx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__r0EQx > :global(.__wab_flex-container) > *,
.freeBox__r0EQx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r0EQx > :global(.__wab_flex-container) > picture > img,
.freeBox__r0EQx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r0EQx {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r0EQx > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r0EQx > :global(.__wab_flex-container) > *,
  .freeBox__r0EQx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r0EQx > :global(.__wab_flex-container) > picture > img,
  .freeBox__r0EQx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dKIJ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__dKIJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dKIJ > :global(.__wab_flex-container) > *,
.freeBox__dKIJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dKIJ > :global(.__wab_flex-container) > picture > img,
.freeBox__dKIJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__mKul:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ytV1G {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__titb0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__yq8Nw {
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__yq8Nw:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__h8SHr {
  position: relative;
  font-size: 14px;
  color: var(--token-zeAElVwAU_u9Gj);
}
.link__b5A7 {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__b5A7:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__zwX1I {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__zwX1I > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__zwX1I > :global(.__wab_flex-container) > *,
.freeBox__zwX1I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zwX1I > :global(.__wab_flex-container) > picture > img,
.freeBox__zwX1I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zwX1I {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zwX1I > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zwX1I > :global(.__wab_flex-container) > *,
  .freeBox__zwX1I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zwX1I > :global(.__wab_flex-container) > picture > img,
  .freeBox__zwX1I
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__vQzkC {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__vQzkC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vQzkC > :global(.__wab_flex-container) > *,
.freeBox__vQzkC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vQzkC > :global(.__wab_flex-container) > picture > img,
.freeBox__vQzkC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__aXkuf {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__mqW2Q {
  font-size: 14px;
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
}
.root .link__mqW2Q:hover {
  color: var(--token-NEon4Y--Z);
}
.link__kdfhF {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__kdfhF:hover {
  color: var(--token-NEon4Y--Z);
}
.link___1A8AW {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link___1A8AW:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cJjG3 {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__cJjG3:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ycMlb {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__ycMlb:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__cWtNw {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__cWtNw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cWtNw > :global(.__wab_flex-container) > *,
.freeBox__cWtNw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cWtNw > :global(.__wab_flex-container) > picture > img,
.freeBox__cWtNw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__r1Zu4 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__jQbvv {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__jQbvv:hover {
  color: var(--token-NEon4Y--Z);
}
.link__pMug {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__pMug:hover {
  color: var(--token-NEon4Y--Z);
}
.link__fHjEr {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__fHjEr:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wJ5Kd {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__wJ5Kd:hover {
  color: var(--token-NEon4Y--Z);
}
.link__k1Gl0 {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__k1Gl0:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__jnw8Y {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__jnw8Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jnw8Y > :global(.__wab_flex-container) > *,
.freeBox__jnw8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jnw8Y > :global(.__wab_flex-container) > picture > img,
.freeBox__jnw8Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__lkwXe {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__lnlZ3 {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__lnlZ3:hover {
  color: var(--token-NEon4Y--Z);
}
.link__eHRyY {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__eHRyY:hover {
  color: var(--token-NEon4Y--Z);
}
.link__dAimc {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__dAimc:hover {
  color: var(--token-NEon4Y--Z);
}
.link__txkez {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__txkez:hover {
  color: var(--token-NEon4Y--Z);
}
.link__fQ7B {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link__fQ7B:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__sxdlf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__sxdlf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sxdlf > :global(.__wab_flex-container) > *,
.freeBox__sxdlf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sxdlf > :global(.__wab_flex-container) > picture > img,
.freeBox__sxdlf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__tsxod {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__yWis1 {
  position: relative;
  font-size: 14px;
  color: var(--token-zeAElVwAU_u9Gj);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__xurmE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__cIti5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___7XsnJ {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__rcrhZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__kLYtO {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-hr57-FcFRX1F73);
}
.freeBox__bogZ1 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-OmDrHAzkiZewj6);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__bogZ1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bogZ1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bogZ1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bogZ1 > :global(.__wab_flex-container) > *,
  .freeBox__bogZ1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bogZ1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bogZ1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___6Im5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__d5DmD {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  height: auto;
  font-size: 14px;
}
.root .link__d5DmD:hover {
  text-decoration-line: underline;
}
.link___67WBo {
  position: relative;
  color: var(--token-zeAElVwAU_u9Gj);
  font-size: 14px;
}
.root .link___67WBo:hover {
  text-decoration-line: underline;
}
.text__nRf3 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-zeAElVwAU_u9Gj);
}
.freeBox__n5BqE {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__n5BqE > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__n5BqE > :global(.__wab_flex-container) > *,
.freeBox__n5BqE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n5BqE > :global(.__wab_flex-container) > picture > img,
.freeBox__n5BqE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__bBQuo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__pjTge {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__pjTge:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__frDqf:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__z6Q4 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__z6Q4:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__kp7Pd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__t2D6C {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__t2D6C:hover {
  color: var(--token-dph1wZ7NjV9);
}
