.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 960px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 16px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 16px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.column___7E1Mv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7E1Mv {
    width: 100%;
  }
}
.plan__zDgFl:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___4Vjib {
  font-size: 48px;
}
.freeBox__pBwmw {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__pBwmw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pBwmw > :global(.__wab_flex-container) > *,
.freeBox__pBwmw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pBwmw > :global(.__wab_flex-container) > picture > img,
.freeBox__pBwmw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__lCuXy:global(.__wab_instance) {
  position: relative;
}
.bullet__bxD9U:global(.__wab_instance) {
  position: relative;
}
.bullet__tIzQg:global(.__wab_instance) {
  position: relative;
}
.button__moMHv:global(.__wab_instance) {
  position: relative;
}
.svg__mv5Ui {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__alAJz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__tZvbk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tZvbk {
    width: 100%;
  }
}
.plan__aybJu:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__qwzJj {
  font-size: 48px;
}
.freeBox__uxm0R {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__uxm0R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uxm0R > :global(.__wab_flex-container) > *,
.freeBox__uxm0R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uxm0R > :global(.__wab_flex-container) > picture > img,
.freeBox__uxm0R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__fzUq:global(.__wab_instance) {
  position: relative;
}
.bullet__tC8D:global(.__wab_instance) {
  position: relative;
}
.bullet__q6MDz:global(.__wab_instance) {
  position: relative;
}
.bullet__ytb9Z:global(.__wab_instance) {
  position: relative;
}
.button__oulnc:global(.__wab_instance) {
  position: relative;
}
.svg__ngnmH {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__phV1G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___33Hul {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 33.333333%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___33Hul {
    width: 100%;
  }
}
.plan___5E1F:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text___79YEn {
  font-size: 48px;
}
.freeBox__gXbyi {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__gXbyi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gXbyi > :global(.__wab_flex-container) > *,
.freeBox__gXbyi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gXbyi > :global(.__wab_flex-container) > picture > img,
.freeBox__gXbyi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__rmb7E:global(.__wab_instance) {
  position: relative;
}
.bullet__qc37W:global(.__wab_instance) {
  position: relative;
}
.bullet__mgq1P:global(.__wab_instance) {
  position: relative;
}
.button__xoAkQ:global(.__wab_instance) {
  position: relative;
}
.svg___23RlO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__w1D15 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.faqSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__oBbUl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__oBbUl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__oBbUl > :global(.__wab_flex-container) > *,
.freeBox__oBbUl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oBbUl > :global(.__wab_flex-container) > picture > img,
.freeBox__oBbUl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.faq__ulmjC:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.faq__uwuE:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
