.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__o76S {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___93O1P {
  flex-direction: column;
  display: flex;
}
.freeBox___93O1P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___93O1P > :global(.__wab_flex-container) > *,
.freeBox___93O1P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___93O1P > :global(.__wab_flex-container) > picture > img,
.freeBox___93O1P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__nVaLc {
  font-size: 48px;
}
.freeBox__avM3F {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__avM3F > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__avM3F > :global(.__wab_flex-container) > *,
.freeBox__avM3F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__avM3F > :global(.__wab_flex-container) > picture > img,
.freeBox__avM3F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__a7QBq:global(.__wab_instance) {
  position: relative;
}
.bullet__gafIx:global(.__wab_instance) {
  position: relative;
}
.bullet__lw9M:global(.__wab_instance) {
  position: relative;
}
.freeBox__kL5JX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__tZtbZ:global(.__wab_instance) {
  position: relative;
}
.svg__jXZB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__b1IV0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gpqGz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
