.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__yFyBl {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-OmDrHAzkiZewj6);
  display: flex;
  position: relative;
  min-width: 0;
}
.freeBox__yFyBl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__yFyBl > :global(.__wab_flex-container) > *,
.freeBox__yFyBl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yFyBl > :global(.__wab_flex-container) > picture > img,
.freeBox__yFyBl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yFyBl {
    width: 100%;
    height: auto;
    max-width: var(--token-OmDrHAzkiZewj6);
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yFyBl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yFyBl > :global(.__wab_flex-container) > *,
  .freeBox__yFyBl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yFyBl > :global(.__wab_flex-container) > picture > img,
  .freeBox__yFyBl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__lEyN1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__lEyN1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lEyN1 > :global(.__wab_flex-container) > *,
.freeBox__lEyN1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lEyN1 > :global(.__wab_flex-container) > picture > img,
.freeBox__lEyN1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lEyN1 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lEyN1 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lEyN1 > :global(.__wab_flex-container) > *,
  .freeBox__lEyN1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lEyN1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__lEyN1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__el0Fs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ewTY {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: var(--token-NEon4Y--Z);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ewTY {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: var(--token-NEon4Y--Z);
  }
}
.text__zbiUj {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zbiUj {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text___5V381 {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5V381 {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
  }
}
.freeBox__q30G0 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__q30G0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__q30G0 > :global(.__wab_flex-container) > *,
.freeBox__q30G0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q30G0 > :global(.__wab_flex-container) > picture > img,
.freeBox__q30G0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button__jJwWr:global(.__wab_instance) {
  position: relative;
}
.svg__sUvip {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___1Zn0Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__a2PQx:global(.__wab_instance) {
  position: relative;
}
.svg__fiCss {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__oMcxR {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__kt2By {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__bPaFi {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__bPaFi > picture > img {
  object-fit: cover;
}
.img__bPaFi > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column___9OpVx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___9OpVx {
    width: 100%;
  }
}
.freeBox__p15B {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__p15B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__p15B > :global(.__wab_flex-container) > *,
.freeBox__p15B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p15B > :global(.__wab_flex-container) > picture > img,
.freeBox__p15B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p15B {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p15B > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__pGr {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
}
.text__o5520 {
  position: relative;
  color: var(--token-jBhCqxBbh1U);
}
.featureCard__jE1LM:global(.__wab_instance) {
  position: relative;
}
.svg__yiSgj {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__ikXi {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__cAmPw:global(.__wab_instance) {
  position: relative;
}
.svg___0Rbms {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__fLroa {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard___8Aki:global(.__wab_instance) {
  position: relative;
}
.svg___4Sris {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg___3BoH3 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__fPbJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fPbJ {
    width: 100%;
  }
}
.img___315Fa {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___315Fa > picture > img {
  object-fit: cover;
}
.img___315Fa > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
}
.freeBox__uc1B {
  flex-direction: row;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__uc1B > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__uc1B > :global(.__wab_flex-container) > *,
.freeBox__uc1B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uc1B > :global(.__wab_flex-container) > picture > img,
.freeBox__uc1B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__lA185:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___2YLaF {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-BOqbkihw-Wd7wO);
}
.svg__cdpMp {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__bbCDg:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dxkK {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-BOqbkihw-Wd7wO);
}
.svg___6F9HI {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__mvF5H:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__uVi {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-BOqbkihw-Wd7wO);
}
.svg__mTkpx {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__oGhAn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__tYwfz {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-BOqbkihw-Wd7wO);
}
.svg__jz9I8 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__yHLih:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__z3R6B {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-BOqbkihw-Wd7wO);
}
.svg__xtb4 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__lhdoI:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iEm4U {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-BOqbkihw-Wd7wO);
}
.svg___1Chr6 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid var(--token-hr57-FcFRX1F73);
}
.validation:global(.__wab_instance) {
  position: relative;
}
.freeBox__ierAi {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ierAi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ierAi > :global(.__wab_flex-container) > *,
.freeBox__ierAi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ierAi > :global(.__wab_flex-container) > picture > img,
.freeBox__ierAi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__myYvN {
  flex-direction: row;
  display: flex;
}
.freeBox__myYvN > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__myYvN > :global(.__wab_flex-container) > *,
.freeBox__myYvN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__myYvN > :global(.__wab_flex-container) > picture > img,
.freeBox__myYvN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__lnTQr {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg___01Jf {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__avCEz {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__srmzN {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.svg__v6Mh2 {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: var(--token-jBhCqxBbh1U);
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
